:root {
    --dark-primary-color: #040F3D;
    /*  #040F3D;    */
    --light-primary-color: #4BFFA5;
    /*  #4BFFA5;  */
}


html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body label {
    font-size: 1.3rem;
}

body {

    background: url("images/bg-d.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: var(--dark-primary-color);
}

/* Dark Mode */
.body_dark {

    background: black;
    height: 100%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    --dark-primary-color: #4BFFA5;
    /*  #040F3D;    */
    --light-primary-color: #040F3D;
    /*  #4BFFA5;  */
}

#HOME {
    font-size: 1.5rem;

}

.mainNav {
    font-size: 1.5rem;
}

.nav-link {
    margin-left: 20px;
}



input {
    border-color: var(--dark-primary-color);
    border-radius: 8px;
    padding: 3px;
}

input:focus {
    border-width: 3px;

}

button {
    border-radius: 5px;
    margin: 5px;
}

button:active {
    font-weight: bold;
    font-size: 18px;
}


.container {
    margin-top: 100px;
}



.title {

    border: var(--dark-primary-color) solid 3px;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    text-align: center;
    background: var(--light-primary-color);
    opacity: 0.70;
    color: var(--dark-primary-color);

}

.item {
    margin: 60px;
    width: 70%;
    clear: both;

}

.item input {
    width: 100%;
    clear: both;
}

.b1,
.b2,
.b3 {
    border: var(--dark-primary-color) solid 3px;
    border-radius: 10px;
    padding: 15px;
    opacity: 0.80;
    background: var(--light-primary-color);
}

.b2 input {
    font-weight: bold;


}

#price_ps {

    font-size: 22px;
    color: var(--dark-primary-color);
    background: var(--light-primary-color);
    border: 0px;
    font-weight: bold;
    text-decoration: underline;
}

#billno {
    color: red;
    font-weight: bold;
}


/* Payment */
#payment button {
    font-size: 20px;
    ;
}

#payment {

    padding: 9px;
    display: none;

}

#paymentBox {
    display: none;
}

#online {
    display: none;

}

#offline {
    padding: 15px;
    display: none;
}

.payB,
.closeB {
    font-size: 20px;
    display: none;
}


/* media querys */
@media only screen and (max-width: 411px) {
    body {
        background: url("images/bg-p.jpg");
    }
}




/* Page CSS */


#page2 {

    display: none;


}


/* Warning1 */
#warning1 {
    font-weight: bold;
    color: red;
    padding: 2px;
    font-size: 20px;
    margin: 5px;
    display: none;

}